@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Hind:wght@700&family=Merriweather:ital,wght@1,700&display=swap");
:root {
  --darker: #06011f;
  --dark: #070028;
  --light: #0046ffad;
  --white: aliceblue;
  --borderColor: #0d1f4ed5;
  --headerText: "Merriweather", serif;
  --introHeader: "Hind", sans-serif;
  --introDesc: "Dancing Script", cursive;
}
::selection {
  background-color: var(--light);
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: var(--dark);
  border-radius: 20px;
  box-shadow: inset 20px 20px #1e3b8b5e;
}
::-webkit-scrollbar-thumb {
  background-color: #0044ff85;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0044ffad;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--headerText);
  z-index: 89;
}
#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #06011f url("../Images/Loader.gif") no-repeat center;
  z-index: 99999;
}
.line {
  height: 3px;
  background-color: var(--darker);
}
.line1 {
  margin-top: 4px;
  background-color: var(--white);
}
#uls li a:hover {
  color: var(--light);
}
#intro {
  background-image: url("/Images/Coding-Bg-Dark.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white);
}
#intro-name {
  font-family: var(--introHeader);
  font-style: italic;
  transition: color 0.25s ease-in-out;
}
#intro-name:hover {
  color: var(--light);
}
#intro-desc {
  font-family: var(--introDesc);
}
.btn {
  color: var(--dark);
  background-color: var(--white);
  font-family: var(--headerText);
  border: 4px solid var(--borderColor);
  border-radius: 15px;
  transition: color 0.25s ease-in-out, background-color 0.45s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--dark);
  color: var(--white);
}
#skills,
#about,
#tech,
#projects,
#footer {
  background-color: var(--dark);
  color: var(--white);
  font-family: var(--introHeader);
}
#about-section {
  font-family: var(--headerText);
}
#about-image img {
  border: 5px solid #273863d5;
  border-radius: 20px;
}
.skillLine {
  background-color: var(--white);
}
.skillProgress1,
.skillProgress2 {
  background-color: var(--light);
  margin: -2px;
}
@keyframes progress1 {
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}
@keyframes progress2 {
  0%{
    width: 0;
  }
  100%{
    width: 20%;
  }
}
.skillProgress1 {
  max-width: 60%;
}
.skillProgress2 {
  max-width: 20%;
}
#twitter,
#linkedin,
#github {
  border-radius: 10px;
}
#twitter:hover {
  background-color: #1c99e7;
}
#linkedin:hover {
  background-color: #0a66c2;
}
#github:hover {
  background-color: #24292f;
}
.tech-logo {
  transition: transform 0.1s ease-in-out;
}
.tech-logo:hover {
  transform: scale3D(1.15, 1.15, 0.3);
}
.projectTitle {
  font-family: var(--headerText);
}
.project {
  border: 5px solid #0d1f4ed5;
  border-radius: 10px;
  transition: transform 0.1s ease-in-out;
}
.project:hover {
  transform: scale3D(1.05, 1.05, 0.3);
}
.btns a {
  margin-top: 6px;
  margin-right: 19px;
}
.btns .btn {
  padding: 7px;
}
#hr {
  border-top-width: 0px;
  background-color: var(--darker);
}