body{
    overflow: hidden;
}
#thanks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/Images/Coding-Bg-Dark.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
}
#thanksHeader,#thanksDesc{
    font-family: var(--headerText);
}